<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content},~{::title},~{::script})}">

<head>
  <title th:text="${loggedInUser.name} + ' | smart-contact-manager'">Profile Page</title>
</head>

<body>
  <div id="content">

    <!-- user is logged in : sidebar -->
    <div th:if="${loggedInUser}">
      <div th:replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <div class="pt-20 pl-64" style="height: 1000px;">
      <div class="flex justify-center flex-col items-center">
        <h1 class="text-5xl">Welcome to Profile page</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>


  </div>
  <script>
    console.log("This is Profile page");
  </script>
</body>

</html>