<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content},~{::title},~{::script})}">
  <head>
    <title>Home</title>
  </head>

  <body>
    <div id="content">
      <h1>Welcome to home page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quae
        officiis qui odit perspiciatis? Quidem cum, rerum consequuntur dolore
        deleniti deserunt quibusdam ea ex maxime delectus quo cumque iure
        dolores!
      </p>
    </div>
    <script>
      console.log("Home page");
    </script>
  </body>
</html>
