<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content},~{:: title},~{:: script})}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Page</title>
  </head>
  <body>
    <section id="content">
      <h1>Welcome to services content</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae corrupti
        harum fugiat, dolores maxime qui dolore commodi beatae unde quos
        aspernatur. Incidunt iusto soluta sint aliquam velit aspernatur sed
        excepturi.
      </p>
    </section>
    <script>
      console.log("services page")
    </script>
  </body>
</html>
