<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content},~{::title},~{::script})}">
  <head>
    <title>About Page</title>
  </head>
  <body>
    <div id="content">
      <h1>Welcome to about page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo
        voluptate, impedit dignissimos suscipit corrupti saepe ullam possimus,
        ut a ratione assumenda minima iusto adipisci. Magni cum eligendi sed
        molestias numquam.
      </p>
    </div>
    <script>
      console.log("about page")
    </script>
  </body>
</html>
